
  /* .container {
      width:150px;
  } */

  .wrapper {
    min-height: 100%;
    margin-bottom: -50px;
  }
  .footer
   {
    height: 50px;
    background-color: #0099cc;
    color: #631010;
    text-align: center;
    font-size: 12px;
    padding: 15px;
  }

div.gallery {
    border: 1px solid rgb(90, 37, 37);
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}