html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  text-align: left;
  background: linear-gradient(rgba(0, 0, 150, 0.5), rgba(0, 0, 50, 0.5)),
    url("img/backGround.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Source Sans Pro", sans-serif;
  /* line-height: 1.5;
  background: rgb(90, 70, 70);
  color: #323232; */
}

img {
  max-width: 100%;
}

.icon {
  fill: currentColor;
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 980px; /* , 768px, 640px different scrn size */
  margin: 40px auto;
  padding: 32px;
  background: floralwhite;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  padding: 24px 0;
  border-bottom: 1px solid burlywood;
}

section:last-child {
  border-bottom: none;
}

.section-title {
  font-weight: bold;
  font-size: 18px;
}

img.YoungCho {
  width: 130px;
}
.my-name {
  font-size: 48px;
  line-height: 1;
}

.my-title {
  font-size: 24px;
  font-weight: 300;
  font-size: 14px;
  color: #236fb2;
}

.links {
  display: flex;
  margin: 10px 0 20px 0;
}

.link-item {
  display: flex;
  align-items: center;
  flex: 1;
}

.link-item svg {
  margin-right: 6px;
}

.contact-title {
  margin-top: 100px;
  color: #fff;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}
.contract-title h1 {
  font-size: 32px;
  line-height: 10px;
}
.contract-title h2 {
  font-size: 16px;
}

/* form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
 } */
.form-control {
  width: 700px;
  background: transparent;
  border: none;
  outline: lightgrey;
  border-bottom: 1px solid black;
  color: black;
  font-size: 15px;
  margin-bottom: 16px;
  font-weight: bold;
}
input {
  height: 45px;
}

form .submit {
  border-bottom: none;
  background: gray;
  background-color: none;
  color: black;
  font-size: 33px;
  font-weight: bold;
  letter-spacing: 5px;
  height: 71px;
  margin-top: 20px;
}
form .submit:hover {
  background-color: blue;
  cursor: pointer;
}
